<div class="card" style="padding: 15px;">
    <div class="card-block">
        <h4 class="card-title">Create Deck</h4>
        <div style="margin-bottom: 20px;">
            <div class="form-group">
                <label for="deckList">Deck Name:</label>
                <input type="text" class="form-control" ng-model="createCtrl.name" />
            </div>
            <div>
                Card Count: {{createCtrl.deckData.length}}
            </div>
            <div style="display: inline-block; width: 64px; height: 86px;" ng-repeat="d in createCtrl.deckData track by $index">
                <img style="height: 100%; width: 100%;" ng-right-click="createCtrl.largeUrl = d._source.localImageUrl" ng-click="createCtrl.newRemove(d)" ng-src="http://localhost:5000/image-store{{d._source.localImageUrl}}" />
            </div>
            <div style="margin-top: 20px;">
                <button class="btn btn-primary" ng-disabled="createCtrl.deckData.length !== 60 || pendingRequest" ng-click="createCtrl.newSubmit()">Submit</button>
            </div>
        </div>
        <form ng-submit="createCtrl.search()" class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <input class="form-control" ng-model="createCtrl.searchField" />
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <button class="btn btn-primary" ng-disabled="pendingRequest" type="submit">Search</button>
            </div>
        </form>

        <div>
            <div ng-if="createCtrl.largeUrl !== ''" style="width: 384px; height: 516px; position: fixed; left: 0; right: 0;top: 0; bottom: 0; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;">
                <img style="height: 100%; width: 100%;" ng-click="createCtrl.largeUrl = ''" ng-src="http://localhost:5000/image-store{{createCtrl.largeUrl}}" />
            </div>
            <div style="display: inline-block; width: 123px; height: 172px;" ng-repeat="hit in createCtrl.searchData.hits.hits">
                <img style="height: 100%; width: 100%;" ng-right-click="createCtrl.largeUrl = hit._source.localImageUrl" title="{{hit._source.setName}}" ng-click="createCtrl.newAdd(hit)" ng-src="http://localhost:5000/image-store{{hit._source.localImageUrl}}" />
            </div>
        </div>
    </div>
</div>