<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="margin-top: 10px">
        <h5>User Calendar</h5>
        <div ui-calendar="homeCtrl.uiConfig.calendar" class="span6 calendar" ng-model="homeCtrl.eventSources"></div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h4>Upcoming Event Queue: </h4>
        <table>
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Location</th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="event in homeCtrl.events">
                <td>{{event.title}}</td>
                <td>{{event.date | date : 'MM/dd/yyyy @ h:mma'}}</td>
                <td><a ng-href="https://www.google.com/maps/dir/?api=1&destination={{event.location}}" target="_blank">{{event.location}}</a></td>
                <td><button ng-click="homeCtrl.hideEvent(event)" class="btn btn-primary">X</button></td>
                <td><button ng-click="homeCtrl.addEvent(event)" class="btn btn-primary">&#10003;</button></td>
            </tr>
        </table>
    </div>
</div>