<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="margin-top: 10px">
        <div ui-calendar="mainCtrl.uiConfig.calendar" class="span6 calendar" ng-model="mainCtrl.eventSources"></div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h4>Upcoming Events: </h4>
        <table>
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Location</th>
            </tr>
            <tr ng-repeat="event in mainCtrl.events">
                <td>{{event.title}}</td>
                <td>{{event.date | date : 'MM/dd/yyyy @ h:mma'}}</td>
                <td>{{event.location}}</td>
            </tr>
        </table>
    </div>
</div>